.DS_Store

#ignore node_modules, as the node project is not "deployed" per se: http://www.mikealrogers.com/posts/nodemodules-in-git.html
server/node_modules
node_modules
package-lock.json
server/config.js

/dist
/generated
