@use "../../node_modules/bootstrap/scss/bootstrap";

.fade-leave-active {
  transition: opacity 2s ease;
}
.fade-leave-to {
  opacity: 0;
}
/* Optional: Define an animation for adding rows if needed */
.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-enter {
  opacity: 0;
}

h1 {
  @extend .display-3, .text-center;
}

footer {
  bottom: 0px;
}