<div id="basic">
  <div class="large-6 large-offset-3">
    <h1 class="display-3 text-center">Basic</h1>
    <div class="mb-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" ng-model="profile.firstName">

            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" ng-model="profile.lastName">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dateOfBirth" ng-model="profile.dateOfBirth">
          </div>
          <div class="col-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" ng-model="profile.gender">
              <option value="" selected disabled>Select One</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <label for="sport" class="form-label">Sports</label><br>
            <small id="sportHelp" class="form-text text-muted">Feel free to select multiple.</small>
            <select class="form-select" id="sport" ng-model="profile.sports" multiple>
              <option value="Basketball">Basketball</option>
              <option value="Football">Football</option>
              <option value="Golf">Golf</option>
              <option value="Tennis">Tennis</option>
              <option value="Cricket">Cricket</option>
              <option value="Baseball">Baseball</option>
              <option value="American Football">American Football</option>
              <option value="Aquatics">Aquatics</option>
              <option value="Archery">Archery</option>
              <option value="Automobile Racing">Automobile Racing</option>
              <option value="Badminton">Badminton</option>
              <option value="Beach Volleyball">Beach Volleyball</option>
            </select>
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-6">
            <button class="btn btn-danger" ng-click="navigateTo('')">Back</button>
            <button class="btn btn-warning" ng-click="saveProfile(profile, 'form-about')">Next Section</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
