<div id="home">
  <div class="large-6 large-offset-3">
    <h2>Summary</h2>
    <div class="mb-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Profile Picture">
              <div class="card-body">
                <h5 class="card-title">{{profile.firstName}} {{profile.lastName}}</h5>
                <p class="card-text">{{profile.about}}</p>
              </div>
              <div class="list-group list-group-flush">
                <li class="list-group-item"><b>Location:</b> {{profile.location}}</li>
                <li class="list-group-item"><b>DOB:</b> {{profile.dateOfBirth}}</li>
                <li class="list-group-item"><b>Gender:</b> {{profile.gender}}</li>
                <li class="list-group-item">
                  <b>Sports:</b>
                  <p ng-repeat="sport in profile.sports">{{sport}}</p>
                </li>
              </ul>
              <div class="card-body">
                <button type="button" class="btn btn-info ml-1" ng-click="navigateTo('form-basic')">Edit Basic Section</button>
                <button type="button" class="btn btn-info" ng-click="navigateTo('form-about')">Edit About Section</button>
                <button type="button" class="btn btn-success" ng-click="formSubmit(profile)">Complete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
