<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h2>Profile</h2>
    <div class="mb-3">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName">

            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob">
          </div>
          <div class="col-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select">
              <option selected disabled>Select One</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="sport" class="form-label">Sport</label>
              <select class="form-select">
                <option selected disabled>Select One</option>
                <option value="Basketball">Basketball</option>
                <option value="Football">Football</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <button class="btn btn-warning" ng-click="navigateTo('form-about')">Next Section</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
