<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h1 class="display-3 text-center">Athlete Profiles</h1>
    <div class="container">
      <button class="btn btn-success" ng-click="navigateToBasicInfoPage()">Add Profile</button>
      <table class="table table-bordered table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Sports</th>
            <th scope="col">Team</th>
            <th scope="col">About</th>
            <th scope="col" id="button-column" style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="profiles.length == 0">
            <td colspan="5">
              You have no profiles created. Click the Add Profile button to get started.
            </td>
          </tr>
          <tr ng-repeat="profile in profiles">
            <td>{{ profile.firstName }} {{ profile.lastName }}</td>
            <td>
              <ul>
                <li ng-repeat="sport in profile.sports">
                  {{ sport }}
                </li>
              </ul>
            </td>
            <td>{{ profile.team }}</td>
            <td class="text-truncate">
              <div class="overflow-auto text-wrap" style="max-width: 620px; max-height: 100px;">{{ profile.about }}</div>
            </td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="viewProfile(profile._id)">View</button>
                <button type="button" class="btn btn-danger" ng-click="deleteProfile(profile._id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
